/* &display=swap */
/* 
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 
*/

@import "null.css";

body {
	background-color: darkgray;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(44, 44, 44);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 15px;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
}
.header {
	background-color: rgb(114, 114, 255);
	color: rgb(44, 44, 44);
	padding: 5px;
	border-radius: 15px 15px 0 0;
	margin: 0 0 10px 0;
}
.list{
	text-align: center;
}
.list li{
	display: inline-block;
}
.list li:not(:last-child){
	margin: 0 20px 0 0;
}
.list li a{
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 10px;
	border-radius: 10px;
}
.list li a:hover{
	background-color: rgb(87, 87, 255);
}
.list li a:active{
	box-shadow: inset 0 0 5px 2px rgb(54, 54, 255);
}
.list li a::after{
	content: '';
	height: 2px;
	width: 50px;
	background-color: blue;
	display: block;
	margin: 10px 0 0 0;
}
.list li a::before{
	content: '';
	height: 2px;
	width: 50px;
	background-color: blue;
	display: block;
	margin: 0 0 10px auto;
}
.list li a:hover::after{
	width: 100%;
}
.list li a:hover::before{
	width: 100%;
}

.main{
	background-color: rgb(114, 114, 255);
	border-radius: 0 0 15px 15px;
	min-height: 300px;
	background:rgb(114, 114, 255) url(../img/logo.webp) center/auto 100% no-repeat;
	padding: 5px;
}
.sub-list{
	display: none;
	padding: 5px;
	border-radius: 0 0 15px 15px;
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
}
.sub-list li:not(:last-child){
	margin: 0 0 5px 0;
}
.sub-list li:first-child{
	font-size: 20px;
	font-weight: 600;
	padding: 7px 10px;
	border-radius: 10px;
	border: 2px solid blue;
	border-left: none;
	border-right: none;
	background-color: rgb(114, 114, 255);
}
.sub-list li a{
	display: block;
	padding: 7px 10px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 10px;
	border: 2px solid blue;
	border-left: none;
	border-right: none;
	background-color: rgb(114, 114, 255);
}
.sub-list li a:hover{
	background-color: rgb(83, 83, 252);
}
.sub-list li a:active{
	box-shadow: inset 0 0 5px 2px rgb(54, 54, 255);
}
#layouts:target, #validators:target, #images:target, #fonts:target, #fls:target{
	display: block;
}



.footer {
}
